
allensdk==2.16.2
brainglobe-atlasapi==2.0.5
brainglobe-heatmap==0.5.4
brainglobe-utils==0.6.3
brainglobe_space==1.0.0
brainrender==2.1.16
h5py==3.13.0
hdmf==4.0.0
matplotlib==3.10.0
matplotlib-inline==0.1.7
numpy==2.2.4
open-ephys-python-tools==0.1.7
pandas==2.2.3
pendulum==3.0.0
pillow==10.4.0
pyglet==2.0.15
scikit-build==0.17.6
scikit-image==0.24.0
scikit-learn==1.6.1
scikit-posthocs==0.11.2
scipy==1.15.2
seaborn==0.13.2
vedo==2024.5.3
vtk==9.3.0
